{% load static %}
{% block content %}

<!-- Mobile menu button -->
<button
  class="fixed right-0 top-0 z-50 m-4 text-indigo-800 transition-transform duration-200 ease-in-out hover:scale-110 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500 md:hidden"
  onclick="toggleSidebar()"
>
  <!-- Use JavaScript to toggle between the Menu and X icons -->
  <span id="menuIcon" class="h-6 w-6">
    <!-- Replace this with a static SVG icon for the menu -->
    <svg
      class="h-6 w-6"
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M4 6h16M4 12h16m-7 6h7"
      ></path>
    </svg>
  </span>
  <span id="closeIcon" class="h-6 w-6 hidden">
    <!-- Replace this with a static SVG icon for the X -->
    <svg
      class="h-6 w-6"
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M6 18L18 6M6 6l12 12"
      ></path>
    </svg>
  </span>
</button>

<!-- Sidebar for all screen sizes -->
<div
  id="sidebar"
  class="fixed inset-y-0 right-0 z-40 flex w-64 flex-col justify-between rounded-l-lg bg-white transition-transform duration-300 ease-in-out translate-x-full md:translate-x-0"
>
  <div class=" py-4 border-b border-gray-100">
      <img src="{% static 'images/logo.jpg' %}" class="h-16 sm:h-20" />
  </div>

  <nav class="mt-6 flex flex-1 flex-col">
    <div class="space-y-1 px-2">
      <!-- Replace navItems with static links -->
      <a
        href="/admin_dashboard"
        class="group flex items-center rounded-md px-4 py-2 text-sm font-medium transition-all duration-150 ease-in-out text-black hover:bg-indigo-100 hover:text-indigo-800"
      >
        <span
          class="transition-transform duration-200 ease-in-out group-hover:translate-x-1"
          >الرئيسية</span
        >
      </a>
      <a
        href="/admin_dashboard/viewClub"
        class="group flex items-center rounded-md px-4 py-2 text-sm font-medium transition-all duration-150 ease-in-out text-black hover:bg-indigo-100 hover:text-indigo-800"
      >
        <span
          class="transition-transform duration-200 ease-in-out group-hover:translate-x-1"
          >النوادي</span
        >
      <a
        href="/admin_dashboard/viewDirector"
        class="group flex items-center rounded-md px-4 py-2 text-sm font-medium transition-all duration-150 ease-in-out text-black hover:bg-indigo-100 hover:text-indigo-800"
      >
        <span
          class="transition-transform duration-200 ease-in-out group-hover:translate-x-1"
          >الاداريين</span
        >
      </a>
        <a
                href="{% url 'financialDashboard' %}"
                class="group flex items-center rounded-md px-4 py-2 text-sm font-medium transition-all duration-150 ease-in-out text-black hover:bg-indigo-100 hover:text-indigo-800"
        >
        <span
                class="transition-transform duration-200 ease-in-out group-hover:translate-x-1"
        >الإيرادات</span
        >
        </a>
        <a
                href="{% url 'UpdatePricing' %}"
                class="group flex items-center rounded-md px-4 py-2 text-sm font-medium transition-all duration-150 ease-in-out text-black hover:bg-indigo-100 hover:text-indigo-800"
        >
        <span
                class="transition-transform duration-200 ease-in-out group-hover:translate-x-1"
        >الباقات</span
        >
        </a>

      <!-- Add more static links as needed -->
    </div>

    <a href="{% url 'signout' %}" class="w-full px-4 pb-4 pt-1">
      <button
        type="submit"
        class="group flex w-full items-center rounded-md px-2 py-2 text-sm font-medium text-red-500 transition-all duration-150 ease-in-out hover:bg-indigo-100 hover:text-indigo-800"
      >
        <span
          class="transition-transform duration-200 ease-in-out group-hover:translate-x-1"
        >
          تسجيل خروج
        </span>
      </button>
    </a>
  </nav>

</div>


<script>
  function toggleSidebar() {
    const sidebar = document.getElementById("sidebar");
    const menuIcon = document.getElementById("menuIcon");
    const closeIcon = document.getElementById("closeIcon");

    if (sidebar.classList.contains("translate-x-full")) {
      sidebar.classList.remove("translate-x-full");
      menuIcon.classList.add("hidden");
      closeIcon.classList.remove("hidden");
    } else {
      sidebar.classList.add("translate-x-full");
      menuIcon.classList.remove("hidden");
      closeIcon.classList.add("hidden");
    }
  }
</script>
{% endblock content %}
