{% load i18n %}
{% get_current_language as CURRENT_LANGUAGE %}
{% get_available_languages as AVAILABLE_LANGUAGES %}
{% get_language_info_list for AVAILABLE_LANGUAGES as languages %}

<div class="language-switcher">
    {% for language in languages %}
    <a href="{% url 'set_language_redirect' language.code %}?next={{ request.path }}"
       class="{% if language.code == CURRENT_LANGUAGE %}active{% endif %}">
        {{ language.name_local }}
    </a>
    {% if not forloop.last %} | {% endif %}
    {% endfor %}
</div>