{% extends "base_admin_dashboard.html" %} {% load static %} {% block content %}

<section class="bg-indigo-50 w-full min-h-screen p-4 md:p-8">
  <div class="max-w-6xl mx-auto md:pr-[20%]">
    <div class="flex justify-between items-center mb-8">
      <h1 class="text-3xl font-bold text-gray-800">قائمة النوادي</h1>
      <a
        href="/admin_dashboard/addClub"
        class="bg-indigo-600 text-white px-4 py-2 rounded-md hover:bg-indigo-700 transition duration-300 ease-in-out"
        >إضافة نادي جديد</a
      >
    </div>
    <ul
      class="bg-white rounded-lg shadow-lg overflow-hidden divide-y divide-gray-200"
    >

    {% for club in clubs %}
    <li class="p-4 hover:bg-gray-50 transition duration-150 ease-in-out">
      <div
        class="flex flex-col md:flex-row md:items-center md:justify-between"
      >
        <div class="mb-2 md:mb-0">
          <h2 class="text-lg font-semibold text-gray-900">{{club.name}}</h2>
          <p class="text-sm text-gray-600">{{club.get_city_display}} - {{club.district}}</p>
        </div>
        <div class="flex items-center space-x-2 rtl:space-x-reverse">
          <span class="text-sm text-gray-500">{{district.creation_date}}</span>
          <a
            href="{% url 'editClub' club.id %}"
            class="text-indigo-600 hover:text-indigo-800 text-sm font-medium"
            >تعديل</a
          >
          <a
            href="{% url 'deleteClub' club.id %}"
            class="text-red-600 hover:text-red-800 text-sm font-medium"
            >حذف</a
          >
        </div>
      </div>
    </li>

    {% endfor %}
      <!-- Add more list items as needed -->
    </ul>
  </div>
</section>

{% endblock content %}
